@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.button-primary{
    background-color: #006CE4;
    border-color: #0071c2;
    color:#FFFFFF;
}

.button-primary:hover{
    background-color: #FFFFFF;
    color: #006CE4;
}

.button-secondary{
    color: #030712;
    background-color: #FFFFFF;
    border-color: #0071c2;
}

.button-secondary:hover{
    background-color: #006CE4;
    border-color: #0071c2;
    color:#FFFFFF;
}

.text-primary{
    color: #006CE4;
}