@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

:root {
    --clr-bg-dark: #1f2937; 
    --clr-bg-light: #ffffff; 
  
    --clr-text-dark: #1f2937; 
    --clr-text-light: #ffffff;
    --clr-primary:#006CE4;
    --clr-secondary:#0071c2;
    --clr-btn:#0056b9;
  }

.button-primary{
    background-color: var(--clr-primary);
    border-color: var(--clr-secondary);
    color:var(--clr-text-light);
}

.button-primary:hover{
    background-color: var(--clr-text-light);
    color: var(--clr-primary);
}

.button-btn{
    background-color: var(--clr-primary);
}

.button-btn:hover{
    background-color:var(--clr-btn);
}


.button-secondary{
    color: #030712;
    background-color: var(--clr-text-light);
    border-color: var(--clr-secondary);
}

.button-secondary:hover{
    background-color: var(--clr-primary);
    border-color: var(--clr-secondary);
    color:var(--clr-text-light);
}

.text-primary{
    color: var(--clr-primary);
}

.dark {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text-light);
  }
  
.light {
    background-color: var(--clr-bg-light);
    color: var(--clr-text-dark);
  }